<#include "_inc/_layout.html"/> 
<#macro title>
 <title>账户申请</title>
</#macro>



<@layout active_id = p>
<div class="nwrapper ">
<div class="top">
 <div class="zl_top">账户注册</div>
 
 <div class="zl_topmain zl_topmain2">
 	 <div class="zl_topmain_tiao"></div>
     <div class="zl_topmain_box"><em></em><span>账户申请</span></div>
     <div class="zl_topmain_box "><em></em><span>验证信息提交</span></div>
     <div class="zl_topmain_box active"><em></em><span>提交成功</span></div>
 </div>
</div>



<div class="aa_ok">申请已提交，待审核后便可登录</div>
    <#include "_inc/_footer.html"/> 
</div>
</@layout >