<#include "_inc/_layout.html"/> 
<#macro title>
 <title>账户申请</title>
</#macro>
<#macro script>
<script type="text/javascript">
	function doSubmit(url){
	 	$("#form").ajaxSubmit({
			type : "post", //提交方式  
			dataType : "json", //数据类型  
		beforeSubmit : function(){
	           
	           //#################
				},
			success : function(data) { //提交成功的回调函数 
				if(data.errorCode == 0){
					if(url !=null && ''!=url){
						location.href=url;
					}else{
						location.reload();
					}
				}else if(data.errorCode == 11){
					location.href="${CPATH}/register/client_user_regsuccess";
				}else{
					alert(data.message);
				}
			},
			error : function() {
				alert("信息提交错误");
			}
		});
}
</script>

</#macro>

<@layout active_id = p>
<div class="nwrapper ">
<style>.yzm_box{ width: 50%;  height: .8rem; line-height:.8rem; display: block; float: right; line-height: .1rem;}
.yzm_box img {
    width: 100%;
    margin: .1rem auto;
    height: .8rem;
    display: block;
    float: none;
}

select{ border:0; background:none;}
.aa_box p input {
    width: 100%;
    border: 0;
    height: .4rem;
    margin: .3rem 0;
}
.aa_box_yzm p input {
    width: 40%;
    border-right: 1px solid #cdced9;
    height: .4rem;
    margin: .3rem 0;    line-height: .4rem;
}
.aa_box{ overflow:hidden; line-height: normal;}
.aa_box p{line-height: normal;}
.aa_box p select{border:0; background-image: url("http://www.qxqyjt.com/templates/jp/client/img/sds_03.png");background-repeat: no-repeat;background-position: center right; background-size: .33rem;-webkit-appearance: none;}
</style>
<div class="top">
 <div class="zl_top">账户注册</div>
 

</div>
<form id="form" action="${CPATH}/register/client_user_stepOne" method="post">
    <div class="aa_box">
        <span>用户类型</span>
        
        <p>
        <select id="selectType" name="user.role" class="gs_seb gs_seb2">
            	<option value="小规模纳税人">小规模纳税人</option>
            	<option value="一般纳税人">一般纳税人</option>
        </select></p>
    </div>

    <div class="aa_box">
        <span>登录账号</span>
        <p><input type="text" name="user.username"></p>
    </div>

    <div class="aa_box">
        <span>登录密码</span>
        <p><input type="password" name="user.password"></p>
    </div>

    <div class="aa_box">
        <span>邮箱</span>
        <p><input type="text" name="user.email"></p>
    </div>

    <div class="aa_box aa_box_yzm">
        <span>验证码</span>
        <p><input type="text" name="yzm"><em class="yzm_box"><img src="${CPATH}/register/yzm"  onclick="this.src='${CPATH}/register/yzm?d='+Math.random();" /> </em></p>

    </div>




    <div class="it">
        <div class="clear"></div>
        <button type="button" onclick="doSubmit('${CPATH}/register/client_user_stepTwo')"class="co_bt co_bt3">下一步</button>
    </div>


</form>
  <#include "_inc/_footer.html"/> 

</div>
</@layout>