<#include "_inc/_layout.html"/> 
<#macro title>
 <title>我要下单</title>
</#macro>
<@layout active_id = p>
<div class="nwrapper index_main">

    <div class="index_top">
        <a href="">选择下单项</a>
    </div>

    <div class="fax_box ">
    	<#if spList ??>
	          <#list spList as x>
	                		<a href="${CPATH}/orders/client_orders_option?setOrders.flag=${(x.flag)!}&setOrders.id=${(x.id)!}">
	                    			<img src="${CPATH}${(x.icon)!}">${(x.orderType)!} 
	                    	</a>
               </#list>
         </#if>
 <!--    <a href="">公司注册</a>
        <a href=""><img src="img/我要下单_03.png">公司注册</a>
        <a href=""><img src="img/我要下单_03-02.png">代理记账</a>
        <a href=""><img src="img/我要下单_03-03.png">购买发票</a>
        <a href=""><img src="img/我要下单_03-04.png">社保代理</a>
        <a href=""><img src="img/我要下单_03-05.png">公司变更</a>
        <a href=""><img src="img/我要下单_03-06.png">申请一般纳税人</a>
      --> 
    </div>
</div>

<#include "_inc/_footer.html"/> 

</div>
</@layout>