<#include "_inc/_layout.html"/> 
<@layout> 
<!--cont-->
<div class="main">
<div class="cont post">

    <img src="img/bus_post_03.png" width="1136" height="403" class="bus_post_top">
    
    <div class="bus_post_l">
        <img src="img/bus_post_07.png" width="200" height="50">
        <span>蔡司 Zeiss</span>
        <p><i>类型</i>经销商<br/><i>官网</i>www.csag.com<br/><i>联系电话</i>13743839483<br/><i>联系地址</i><b>上海市浦东新区日樱南
    路11号</b><br/></p>
    <em>Carl Zeiss Meditec AG是世领先的医疗技术公司之一。公司提供用于诊断和治疗眼疾的完整的临床解决方案。在显微外科领域，公司提供创新的可视化解决方案。蔡司的医疗科技系列产品通过未来科技</em><a href=""><img src="img/bus_post_1211.png" width="200" height="235"></a>
    </div>
    
    <div class="bus_post_r">
    
    	<div class="bus_post_rtop">
        推荐产品
        </div>
        <div class="bus_post_rbox">
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
        <a href=""><img src="img/bus_post_11.png" width="190" height="165"><span>¥4478</span><p>拯救者 ISK15.6英寸游戏本</p><em>预装价值749元正版office！</em></a>
    </div>
    <div class="list_page">
     <div class="goods_list_tagr">
            <a href="" class=""><</a>
            <a href="" class="">1</a>
            <span>2</span>
            <a href="" class="">3</a>
            <em>...</em>
            <a href="" class="">></a>
            <em>共100页，到</em>
            <input type="tel">
            <em>页</em>
            <a href="" class="active">确定</a>
   </div>
   </div>
    </div>
    
</div>
</div>
<!--/cont-->

</@layout>