<#include "_inc/_layout.html"/> 
<@layout>
<!--cont-->
<div class="main">
<div class="cont list bus_list">

    <div class="goods_list_top">
    当前位置：<a href="">首页</a>&nbsp;>&nbsp;<a href="">>商机</a>&nbsp;>&nbsp;<span>求购拉力探测器ps-780  </span></a>
    </div>
    
    <div class="qb_postl">
    <a href="" class="qb_postla">我要发布</a>
    <div class="qb_postlbox">
    	<div class="qb_postlbox_top">
    求购拉力探测器ps-780
    	</div>
        <img src="${CTPATH}/assets/img/qgxq_03.png" width="157" height="167" class="qb_postlbox_img">
        <span class="qb_postlbox_s">更新时间:2016-08-07</span>
        <span class="qb_postlbox_s2">公　司：上海欧脉电子科技发展有限公司</span>
        <span class="qb_postlbox_s">有 效 期:36个月</span>
        <span class="qb_postlbox_s2">所属行业:安防 防盗/安检设备 探测器</span>
        <span class="qb_postlbox_s">联系人：孙芳树（职工）</span>
        <span class="qb_postlbox_s2">地　址：上海金山枫泾上海市金山区枫泾镇商城2厅192号</span>
        
        <A class="qb_postlbox_b">打印本页</A>
        <A class="qb_postlbox_b2">收藏本页</A>
        <p class="qb_postlbox_p">查看“求购拉力测探器ps－780” 联系方式请<a href="">登录</a></p>
        <A class="qb_postlbox_b3">还不是会员？马上<em>免费注册</em></A>
    </div>
    
    
     <div class="qb_postlmain">
     	<div class="bus_post_rtop">
        详细参数</div>
        <p>1     拉力探测器     PS-780     ON/OFF动作距离:高灵敏度2mm<br/>
2     控制杆     RT-038F     38*800mm 绿色<br/>
3     控制杆装饰帽     RT038F-5    <br/>
4     接线盒     OM-003     防水<br/>
5     承力杆     RT-030     Φ30*800mm 绿色<br/>
6     承力杆装饰帽     RT030-5    <br/>
7     中间柱     RT-025     25*15*800mm绿色<br/>
8     中间柱装饰帽     RT025-5    <br/>
9     紧线器     RT001-1    <br/>
10     弹簧     RT-002T    <br/>
11     线夹     RT-003     张力围栏专用<br/>
12     张力线     RT-012     多股12#专用线<br/>
13     警示牌     RT-008     200*100mm夜光<br/>
14     中间柱固定件     RT025-2     热侵镀锌<br/>
15     承力杆固定件     RT030-2     热侵镀锌<br/>
16     控制杆固定件     RT038F-2     热侵镀锌<br/>
17     膨胀螺栓     FS-870</p>
        </div>
        
        
     </div>
     
     <div class="qb_postr">
     	<div class="qb_postr_top">
     <p>大城县展创机械设备有限公司</p>
     <span>类   型： 生产商<br/>
联系人： 崔妹兰<br/>
电   话： 86-0316-5726596<br/>
传   真： 86-0316-5726596<br/>
手   机： 15631606391</span>
     	</div>
        
        <div class="goods_post_mainbox_top">
                <span>商家概况</span>
                </div>
     <div class="qb_postr_top">
     <span>主营产品：切割机，雕刻机，硅质聚苯板设备<br/>
主营业务</span>
     </div>
     
     <div class="goods_post_mainbox_top">
                <span>该商家其他求购</span>
                </div>
          <div class="qb_postr_main">
          <A href=""><em class="ell">江西A级硅质聚苯板设备生..</em>
          <img src="${CTPATH}/assets/img/qgxq_07.png" width="57" height="62"><span>摘要：【简单介绍】江西A级硅质聚苯板设备生产厂家加工定制是类型其他成型周 [详细]</span>
          </A>
          
          <A href=""><em class="ell">江西A级硅质聚苯板设备生..</em>
          <img src="${CTPATH}/assets/img/qgxq_07.png" width="57" height="62"><span>摘要：【简单介绍】江西A级硅质聚苯板设备生产厂家加工定制是类型其他成型周 [详细]</span>
          </A>
          
          <A href=""><em class="ell">江西A级硅质聚苯板设备生..</em>
          <img src="${CTPATH}/assets/img/qgxq_07.png" width="57" height="62"><span>摘要：【简单介绍】江西A级硅质聚苯板设备生产厂家加工定制是类型其他成型周 [详细]</span>
          </A>
          
          <A href=""><em class="ell">江西A级硅质聚苯板设备生..</em>
          <img src="${CTPATH}/assets/img/qgxq_07.png" width="57" height="62"><span>摘要：【简单介绍】江西A级硅质聚苯板设备生产厂家加工定制是类型其他成型周 [详细]</span>
          </A>
          
          <A href=""><em class="ell">江西A级硅质聚苯板设备生..</em>
          <img src="${CTPATH}/assets/img/qgxq_07.png" width="57" height="62"><span>摘要：【简单介绍】江西A级硅质聚苯板设备生产厂家加工定制是类型其他成型周 [详细]</span>
          </A>
          </div>      
        
     </div>
     
     
    </div>
    
    <div class="clear"></div>

    
</div>
<!--/cont-->
</@layout>
