<#include "_inc/_layout.html"/> 
<@layout>
<!--cont-->
<div class="main">
<div class="cont list bus_list">

    <div class="goods_list_top">
    当前位置：<a href="">首页</a>&nbsp;>&nbsp;<a href="">>商机</a>&nbsp;>&nbsp;<span>五华县华兴东路（华兴大桥S120线）基础 设施建设项目PPP模式资格预审公告  </span></a>
    </div>
    
    <div class="qb_postl">
    <a href="" class="qb_postla">我要发布</a>
    
    
    <table class="td_table" border="1">
  <tr>
    <td colspan="4" class="td_table01">五华县华兴东路（华兴大桥S120线）基础 设施建设项目PPP模式资格预审公告</td>
    </tr>
  <tr class="td_tabletr">
    <td class="td_table02">公告类别</td>
    <td class="td_table03">资格预审</td>
    <td class="td_table04">发布时间</td>
    <td class="td_table05">2016-08-08 </td>
  </tr>
  <tr class="td_tabletr">
    <td class="td_table02">工程类别 </td>
    <td class="td_table03">其他建筑 </td>
    <td class="td_table04">招标性质 </td>
    <td class="td_table05">工程分包  </td>
  </tr>
  <tr class="td_tabletr">
    <td class="td_table02">公告省份 </td>
    <td class="td_table03">广东 </td>
    <td class="td_table04">公告城市 </td>
    <td class="td_table05">美洲  </td>
  </tr>
  
  <tr class="td_tabletr">
    <td class="td_table02">报名开始时间 </td>
    <td class="td_table03"><A href="">请登录查看</A> </td>
    <td class="td_table04">公告城市 </td>
    <td class="td_table05"><A href="">请登录查看</A>   </td>
  </tr>
   <tr class="td_tabletr">
    <td class="td_table02">报名开始时间 </td>
    <td class="td_table03"><A href="">请登录查看</A> </td>
    <td class="td_table04">公告城市 </td>
    <td class="td_table05"><A href="">请登录查看</A>   </td>
  </tr>
   <tr class="td_tabletr">
    <td class="td_table02">报名开始时间 </td>
    <td class="td_table03"><A href="">请登录查看</A> </td>
    <td class="td_table04">公告城市 </td>
    <td class="td_table05"><A href="">请登录查看</A>   </td>
  </tr>
   <tr class="td_tabletr">
    <td class="td_table02">报名开始时间 </td>
    <td class="td_table03"><A href="">请登录查看</A> </td>
    <td class="td_table04">公告城市 </td>
    <td class="td_table05"><A href="">请登录查看</A>   </td>
  </tr>
  
</table>

    
    
     <div class="qb_postlmain">
     
     
     
     	<div class="bus_post_rtop">详细内容</div>
        <p>**工程咨询有限**受**住房和**的委托，对其**东路（**大桥S120线）基础设施建设项目PPP模式 行公开招标采购，欢迎供应商报名参加预审。
<br/> 一、项目授权主体       **      
<br/> 二、项目实施机构 **住房和**
<br/> 三、PPP项目编号          TYFG**       
 <br/>四、PPP项目名称 **东路（**大桥S120线）基础设施建设项目PPP模式
<br/> 五、PPP项目要求：
 <br/>**东路全长约4.45公里，道路红线宽24m～40m，其中：**路段为城市次干路，设计时速40km/h，其余路段为城市主干路，设计时速50km/h。建设内容包括道路、管线、照明、绿化、交通标志线等，项目总投资25640万元。
<br/> 六、合作模式及内容：
 <br/>**方通过**采购方式选择社会投资人，由**和社会投资人共同组建**。**注册资本金为3000万元，由社会投资人出资2400万元，**出资600万元作为主要合作方。
<br/> 2.**授予**九年的特许维护运营权，由**负责整个项目设施的运营维护。
<br/>3.社会投资人前期为项目的建设提供资本金2400万元，而在**，经营项目无利润，无法满足社会资人的收益要求，所以**提供一定的可行性缺口补助于**。
<br/> .**负责本项目的勘察、设计、施工及九年期的运营维护管理，在项目建设前期**投入3000万作为**的注册资本金。项目建设期间项目资金来源来自于社会资本方自有资金和**财政出资，其中社会投资人出资占总投资的72%，**出资占总投资的28%。
<br/> 
<br/>附件：资格预审文件及资格预审获取登记表
</p>


      </div>
        
        
     </div>
     
     <div class="qb_postr">
     	
        
        <div class="goods_post_mainbox_top rdpost_top">
                <span>相关招标</span><img src="img/more.png" width="20" height="17">
                </div>
     <a href="" class="rdpost_ra">关于京山县环境污水处...<em>2016-08-01</em></a>
      <a href="" class="rdpost_ra">关于京山县环境污水处...<em>2016-08-01</em></a>
       <a href="" class="rdpost_ra">关于京山县环境污水处...<em>2016-08-01</em></a>
        <a href="" class="rdpost_ra">关于京山县环境污水处...<em>2016-08-01</em></a>
         <a href="" class="rdpost_ra">关于京山县环境污水处...<em>2016-08-01</em></a>
     
     
                
        
     </div>
     
     
     
    </div>
    
    <div class="clear"></div>


    
</div>
<!--/cont-->
</@layout>