<#include "_inc/_layout.html"/> 
<@layout> 
<!--cont-->
<div class="main">
<div class="cont list bus_list">

    <div class="goods_list_top">
    当前位置：<a href="">首页</a>&nbsp;>&nbsp;<span>企业  </span></a>
    </div>

    
    <div class="goods_list_topbox">
    	<div class="goods_list_topbox_class">
        	<p><a href="">类别</a><a href="">生产厂家</a><a href="">经销商</a><a href="">售后服务商</a></p>
    	</div>
	</div>
    
    <div class="goods_list_tag">
    	<div class="goods_list_tagl">
            <a href="" class="active">热度</a>
            <a href="" class="">价格</a>
            <a href="" class="">咨询数</a>
            <a href="" class="">按地区&nbsp;<img src="${CTPATH}/assets/img/bus_03.png"></a>
    	</div>
        
        <div class="goods_list_tagr">
            <a href="" class=""><</a>
            <a href="" class="">1</a>
            <span>2</span>
            <a href="" class="">></a>
            <em>到</em>
            <input type="tel">
            <em>页</em>
        </div>
    </div>
    
    <div class="goods_list_main">
        <div class="goods_list_mainbox">
        	<a href="" class="goods_list_mainbox_img"><img src="${CTPATH}/assets/img/bus07.png" width="234" height="201"></a>
            <div class="goods_list_mainmsg"><a href="">RAC-1800全自动凝血分析仪</a><p>型号RAC-1800
<br/>药（械）准字国食药监械（进）字2013第2221857号
<br/>相关产品凝血分析仪 全分析仪 自动分析仪
<br/>品牌时代龙城
<br/>型号RAC-1800</p></div>
			<div class="goods_list_mainbox_c">
            <a href="" class="goods_list_look"><img src="${CTPATH}/assets/img/bus_10.png"><img src="${CTPATH}/assets/img/bus_11.png"><img src="${CTPATH}/assets/img/bus_12.png"></a>
            <a href="" class="goods_list_bt">查看企业</a><br/>
            <a href="" class="goods_list_bt2">收藏企业</a>
            </div>
            
            
        </div>
        <div class="goods_list_mainbox">
        	<a href="" class="goods_list_mainbox_img"><img src="${CTPATH}/assets/img/bus07.png" width="234" height="201"></a>
            <div class="goods_list_mainmsg"><a href="">RAC-1800全自动凝血分析仪</a><p>型号RAC-1800
<br/>药（械）准字国食药监械（进）字2013第2221857号
<br/>相关产品凝血分析仪 全分析仪 自动分析仪
<br/>品牌时代龙城
<br/>型号RAC-1800</p></div>
			<div class="goods_list_mainbox_c">
            <a href="" class="goods_list_look"><img src="${CTPATH}/assets/img/bus_10.png"><img src="${CTPATH}/assets/img/bus_11.png"><img src="${CTPATH}/assets/img/bus_12.png"></a>
            <a href="" class="goods_list_bt">查看企业</a><br/>
            <a href="" class="goods_list_bt2">收藏企业</a>
            </div>
            
            
        </div>
        <div class="goods_list_mainbox">
        	<a href="" class="goods_list_mainbox_img"><img src="${CTPATH}/assets/img/bus07.png" width="234" height="201"></a>
            <div class="goods_list_mainmsg"><a href="">RAC-1800全自动凝血分析仪</a><p>型号RAC-1800
<br/>药（械）准字国食药监械（进）字2013第2221857号
<br/>相关产品凝血分析仪 全分析仪 自动分析仪
<br/>品牌时代龙城
<br/>型号RAC-1800</p></div>
			<div class="goods_list_mainbox_c">
            <a href="" class="goods_list_look"><img src="${CTPATH}/assets/img/bus_10.png"><img src="${CTPATH}/assets/img/bus_11.png"><img src="${CTPATH}/assets/img/bus_12.png"></a>
            <a href="" class="goods_list_bt">查看企业</a><br/>
            <a href="" class="goods_list_bt2">收藏企业</a>
            </div>
            
            
        </div>
        <div class="goods_list_mainbox">
        	<a href="" class="goods_list_mainbox_img"><img src="${CTPATH}/assets/img/bus07.png" width="234" height="201"></a>
            <div class="goods_list_mainmsg"><a href="">RAC-1800全自动凝血分析仪</a><p>型号RAC-1800
<br/>药（械）准字国食药监械（进）字2013第2221857号
<br/>相关产品凝血分析仪 全分析仪 自动分析仪
<br/>品牌时代龙城
<br/>型号RAC-1800</p></div>
			<div class="goods_list_mainbox_c">
            <a href="" class="goods_list_look"><img src="${CTPATH}/assets/img/bus_10.png"><img src="${CTPATH}/assets/img/bus_11.png"><img src="${CTPATH}/assets/img/bus_12.png"></a>
            <a href="" class="goods_list_bt">查看企业</a><br/>
            <a href="" class="goods_list_bt2">收藏企业</a>
            </div>
            
            
        </div>
        <div class="goods_list_mainbox">
        	<a href="" class="goods_list_mainbox_img"><img src="${CTPATH}/assets/img/bus07.png" width="234" height="201"></a>
            <div class="goods_list_mainmsg"><a href="">RAC-1800全自动凝血分析仪</a><p>型号RAC-1800
<br/>药（械）准字国食药监械（进）字2013第2221857号
<br/>相关产品凝血分析仪 全分析仪 自动分析仪
<br/>品牌时代龙城
<br/>型号RAC-1800</p></div>
			<div class="goods_list_mainbox_c">
            <a href="" class="goods_list_look"><img src="${CTPATH}/assets/img/bus_10.png"><img src="${CTPATH}/assets/img/bus_11.png"><img src="${CTPATH}/assets/img/bus_12.png"></a>
            <a href="" class="goods_list_bt">查看企业</a><br/>
            <a href="" class="goods_list_bt2">收藏企业</a>
            </div>
            
            
        </div>
        <div class="goods_list_mainbox">
        	<a href="" class="goods_list_mainbox_img"><img src="${CTPATH}/assets/img/bus07.png" width="234" height="201"></a>
            <div class="goods_list_mainmsg"><a href="">RAC-1800全自动凝血分析仪</a><p>型号RAC-1800
<br/>药（械）准字国食药监械（进）字2013第2221857号
<br/>相关产品凝血分析仪 全分析仪 自动分析仪
<br/>品牌时代龙城
<br/>型号RAC-1800</p></div>
			<div class="goods_list_mainbox_c">
            <a href="" class="goods_list_look"><img src="${CTPATH}/assets/img/bus_10.png"><img src="${CTPATH}/assets/img/bus_11.png"><img src="${CTPATH}/assets/img/bus_12.png"></a>
            <a href="" class="goods_list_bt">查看企业</a><br/>
            <a href="" class="goods_list_bt2">收藏企业</a>
            </div>
            
            
        </div>
       
        
    
    
    </div>
    
    <div class="list_page">
     <div class="goods_list_tagr">
            <a href="" class=""><</a>
            <a href="" class="">1</a>
            <span>2</span>
            <a href="" class="">3</a>
            <em>...</em>
            <a href="" class="">></a>
            <em>共100页，到</em>
            <input type="tel">
            <em>页</em>
            <a href="" class="active">确定</a>
   </div>
   </div>
</div>
</div>
<!--/cont-->
</@layout>