<#include "_inc/_layout.html"/> 
<#macro script>
$(function(){
		$('.edu').selectlist({
			zIndex: 10,
			width: 290,
			height: 43
		});		
	})

</#macro>
<@layout>
<!--cont-->
<div class="main">
	<div class="cont list bus_list">

		<div class="goods_list_top">
			当前位置：<a href="">首页</a>&nbsp;>&nbsp;<span>购买记录 </span></a>
		</div>

		<#include "_inc/_user_menu.html"/> 
		
		<div class="per_r">

			<div class="per_rbox">
				<div class="per_rbox_top">购买记录</div>
				<div class="p_psbox">
					<p style="width: 15%;">创建时间</p>
					<p style="width: 40%;">消费明细</p>
					<p style="width: 10%;">消费方式</p>
					<p style="width: 10.8%;">消费方式</p>
					<p style="width: 14%;">消费方式</p>
					<p style="width: 10%;">消费方式</p>
					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

					<span style="width: 15%;">2014-12-03</span> <span
						style="width: 40%;">非接触式眼压计 TX-20 说明下载</span> <span
						style="width: 10%;">支付宝</span> <span style="width: 10.2%;">+22500.00</span>
					<span style="width: 14%;">交易成功</span> <span style="width: 10%;">详情</span>

				</div>

			</div>
		</div>

		<div class="clear"></div>
	</div>
</div>
<!--/cont-->
</@layout>
