<div class="per_l">
	<div class="per_ltop">
		<img src="${CPATH}${USER.avatar!TPATH+'/assets/img/avatar.jpg'}" width="82" height="74">
		<em class="ell">${USER.nickname!}</em>
		<p class="ell">
			<span>帐号</span>${USER.username!}
		</p>
		<p class="ell">
			<span>所属</span>${USER.company!}
		</p>
	</div>
	<div class="per_lbox">
		<p>
			<img src="${CTPATH}/assets/img/gr_10.png" width="16" height="18">我的信息
		</p>
		<span><a href="${CPATH}/user/center"><img src="${CTPATH}/assets/img/gr_26.png" width="16" height="15">我的资料</a></span>
		<span><a href="${CPATH}/user/center/enterprise"><img src="${CTPATH}/assets/img/gr_21.png" width="16"height="15">企业信息</a></span> 
		<span><a href="${CPATH}/user/center/collection"><img src="${CTPATH}/assets/img/gr_21.png" width="16"height="15">我的收藏</a></span> 
		<span><a href="${CPATH}/user/center/purchasehistory"><img src="${CTPATH}/assets/img/gr_21.png" width="16"height="15">我的购买</a></span> 
	</div>
	
	<div class="per_lbox" style="margin-bottom: 20px;">
		<p>
			<img src="${CTPATH}/assets/img/gr_10.png" width="16" height="18">操作选项
		</p>
		<span><a href="${CPATH}/productPost" target="_blank"><img src="${CTPATH}/assets/img/gr_26.png" width="16" height="15">发布产品</a></span>
		<span><a href="${CPATH}/buyOfferPost" target="_blank"><img src="${CTPATH}/assets/img/gr_21.png" width="16"height="15">发布求购</a></span> 
		<span><a href="${CPATH}/tenderPost" target="_blank"><img src="${CTPATH}/assets/img/gr_21.png" width="16"height="15">发布招标</a></span> 
	</div>
</div>